.text-topic-mobile{
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
}

.size-qrcode{
    width: 250px;
    margin-top: 2%;
}

.btn-blue-mobile{
    margin-left: 2%;
    background-color: #212D69;
    border: 0;   
    color: #fff; 
    font-size: 1em;
  }
  
  .btn-blue-mobile:hover, btn-blue:focus{
    margin-left: 2%;
    background-color: rgb(53, 65, 134);
    border: 0;
    color: #fff; 
    font-size: 1em;
  }

.text-qrscanner{
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  margin: -15% 0 5% 0;
}

.scanner{
  margin-top: 25%; 
}
