body{
  font-family: 'Sarabun', sans-serif;
}

.top-page{
  margin-top: 3%;
}

.text-select{
  color: #0B58A5;
}

.btn-blue{
  margin-left: 2%;
  background-color: #0B58A5;
  border: 0;    
}

.btn-blue:hover, btn-blue:focus{
  margin-left: 2%;
  background-color: rgb(29, 119, 204);
  border: 0;
}

.anticon-printer{
  font-size: 20px;
}

.text-style{
  font-weight: 500 !important;
  font-size: 0.9em;
  color: black !important;
}
.text-topic{
  font-weight: 500;
  font-size: 0.8em;
  color: #000;
  height: 2.25rem;
}

.shadow .ant-card-body{
  padding: 1em;
}

.ant-card-bordered{
  border-radius: 5px;
  border: 0;
}

.color-btn-view{
  background-color: #23A670;
  border: 0;
  color: #fff;
}

.color-btn-view:hover{
  background-color: rgb(110, 212, 170);
  border: 0;
  color: #fff;
}

.layout-page{
  padding: 0 9rem;
  margin-top: 3%;
}

.mobile-size{
  display: none;
}
.ant-message .anticon{
  top: -0.27rem;
}

.ant-message-error .anticon{
  color: #8c1616;
}

.ant-message-notice-content{
  background: #E05F5F;
  color: #fff;
}

.card-qr .ant-card-body{
  padding: 0.3rem 0.1rem 0.3rem 0.1rem;  
  outline: 2px solid #000;
  background: #fff;
}

.text-code-qr{
  margin-top: -7px;  
}

.card-qr .ant-card-meta-title{
  font-size: 9px !important;
  font-weight: 600;
}

.card-qr .ant-card-bordered{
  border-radius: 0;
}

.text-a-color{
  color: #fff;
  text-decoration: none;
}

.text-a-color:hover{
  color: #fff;
  text-decoration: none;
}

/* print */
@media only screen and (max-width: 700px) {
  .body-layout{
    display: none;
  }
  .mobile-size{
    display: block;
  }
}

.qrcode-print{
  display: none;
}

@media print {
  html, body {
    height:100%; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }

  .App {
    visibility: hidden;
  } 
  .qrcode-print{
    display: block !important;
    margin-top: 0;
    padding: 0.2%;
  }
  .footer{
    visibility: hidden;
  }
}
/* print end */

@media (max-width: 1024px){
  .layout-page{
    padding: 0 5rem;
    margin-top: 3%;
  }
  .color-btn-view{
    padding: 0 0.2rem 0 0.2rem;
  }
  .text-topic{
    font-size: 0.75em;
  }
}

@media (max-width: 1024px){
  .layout-page{
    padding: 0 4rem;
    margin-top: 3%;
  }
  .color-btn-view{
    padding: 0 0.2rem 0 0.2rem;
  }
  .text-topic{
    font-size: 0.75em;
  }
}
