.layout-page{
    padding: 0 50px;
}

.position-logo{
    text-align: center;
    color:#fff;
}

.size-logo{
    width: 100px;
}

.text-style{
    font-family: 'Sarabun', sans-serif;
    color: #fff;
    font-weight: 500;
}

.text-label{
    font-weight: 400;
    font-size: 0.9em;
    line-height: 30px;
    color: #fff;
}

.btn-color{
    background-color: #EAC100;
    border: 0;
    color: #0B58A5;
    font-weight: 500;
}

.forgot-layout{
    text-align: end;
    font-size: 0.8em;
    margin-top: 0.4em;
}

.text-header{
    text-align: center;
    color: #fff;
}

.regis-layout{
    margin-top: 2%; 
    font-size: 0.8em;
}

@media (max-width: 700px){
    .text-header{
        font-size: 0.8em;
    }
    .layout-page{
        padding: 0 1em;
    }    
    .position-logo{
        margin-top: 15%;
    }
    .size-logo{
        width: 80px;
    }
    .ant-col-sm-24{
        width: 80%;
    }
    .forgot-layout{
        text-align: end;
        font-size: 0.8em;
        margin-top: -1.5em;
    }
    .regis-layout{
        margin-left: 5%;
    }
}