.btn-gray{
    background-color:#999999;
    color: #fff;
    border: 0;
    font-size: 0.9em;
}

.btn-gray:hover{
    background-color:#adadad;
    color: #fff;
    border: 0;
    font-size: 0.9em;
}

.text-dept-name{
    font-weight: 500;
    font-size: 1em;
    color: black;
    margin-left: 3%;
}

.text-select{
    color: #0B58A5;
    font-size: 0.9em;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 0.7em;
}

.ant-table-tbody {
    background-color: #fff;
    font-size: 0.9em;
    font-weight: 500;
}

.ant-table-thead > tr > th{
    background-color: #F2F2F2;
}

.ant-table-thead > tr > th{
    text-align: center;
}

.ant-card-body{
    box-shadow: 0;
}

.card-detail .ant-card-head-title{
    font-size: 0.85em;
    padding: 0.8em 0 0.7em 0;
}

.card-detail .ant-card-head{
    min-height: 17px !important;
    background-color: #F2F2F2;
    text-align: center;
}

.asset-mobile{
    display: none;
}

@media (max-width: 770px){
    .layout-page{
        display: none;
    }
    .asset-mobile{
        display: block;
    }
}