.ant-layout-header{
    background-color: #0B58A5;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background-color: #0B58A5;
}

.logo-nav-full{
    width: 380px;
    float: left;
}

.logo-nav{
    visibility: hidden;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background: #ffffff00;
}

@media (max-width: 670px){
    .logo-nav-full{
        display: none;
    }
    
    .logo-nav{
        width: 40px;
        float: left;
    }
    .ant-menu-item{
        padding: 0 3px 0 3px;
    }    
    .img-user-size{
        display: none;
    }
    .logo-nav{
        visibility: visible;
        width: 40px;
        float: left;
    }
}

@media screen and (min-width: 900px){
    .btn-menu{
        display: none;
    }
}

@media (max-width: 980px){
    .logo-nav-full{
        margin-top: -1%;
    }    
    .ant-layout-header{
        padding: 10px;
    }
    .top-menu{
        margin-top: -10px;
    }
    .btn-menu{
        width: 30px;
        background-color: rgb(12, 82, 151);
    }
    .icon-menu{
        margin-left: -7px;
    }
    .ant-menu-item{
        padding: 0 5px 0 5px;
    }
}

.position-menu{
    float: right;
    font-family: 'Sarabun', sans-serif;
}

.img-user-size{
    width: 45px;
    border-radius: 100%;
    margin-right: 5%;
}

.img-logout-size{
    width: 20px;
}

